.env
.env.*
!.env.example

back/.git/
back/.env
back/vendor/
back/node_modules/
back/storage/logs/
back/storage/framework/cache/
back/storage/framework/sessions/
back/storage/framework/views/
back/bootstrap/cache/*.php

front/.dart_tool/
front/build/
front/.flutter-plugins
front/.flutter-plugins-dependencies
front/.packages
front/android/local.properties

*.apk
*.aab
*.jks
key.properties

back.rar
*.zip